**{{.Cfg.DisplayName}}** (`{{.Cfg.ID}}`) in **{{.Cfg.Provider}}** {{if .Cfg.ReadOnly}}*(Read-only)*{{end}} servers:

{{- range $server := .State.ServersAsSlice }}
  -
  {{- if eq $server.Status "healthy" }} ✅
  {{- else if eq $server.Status "unhealthy" }} ❌
  {{- else if eq $server.Status "unknown" }} ⏳
  {{end -}}
  [**`{{$server.Resource.ServerName}}`**]({{$server.Resource.URL}}) **_{{$server.Status.String}}_** since `{{$server.State.LastUpdated.UTC.Format "2006-01-02 15:04:05"}}`

  {{- with index $.FloatingIPsByServer $server.Resource.ID }}
    {{- if . }}
    , targeted by:
    {{- range . }}
     - {{if index $.ToBeReassigned .ID}}👉{{else}} {{end}} [**`{{.Name}}`**]({{.URL}}) `{{.IP}}`
    {{- end }}
    {{- else }}
      *No floating IPs assigned to this server.*
    {{- end }}
  {{- end}}
{{- end }}

{{if .UnassignedFloatingIPs }}
**Unassigned floating IPs**:
  {{- range .UnassignedFloatingIPs }}
- [**`{{.Name}}`**]({{.URL}}) `{{.IP}}`  {{if index $.ToBeReassigned .ID}}(👉 to be assigned){{end}}
  {{- end }}
{{- else }}
*No unassigned floating IPs.*
{{- end }}

{{- if .FloatingIPsTargetedOutsideGroup }}

**Floating IPs pointed at servers outside of group**:
  {{- range .FloatingIPsTargetedOutsideGroup }}
- ❓ [**`{{.Name}}`**]({{.URL}}) `{{.IP}}`  {{if index $.ToBeReassigned .ID}}(👉 to be assigned){{end}}
  {{- end }}
{{- else }} *No floating IPs pointed at servers outside of group.*
{{- end }}