**{{.Cfg.DisplayName}}** (`{{.Cfg.ID}}`), provider `{{.Cfg.Provider}}` {{if .Cfg.ReadOnly}}**(Read-only)**{{end}}

**Servers**:

{{- range $server := .State.Servers }}
  -
  {{- if eq $server.Status "healthy" }} ✅
  {{- else if eq $server.Status "unhealthy" }} ❌
  {{- else if eq $server.Status "unknown" }} ⏳
  {{end -}}
  **`{{$server.Resource.ServerName}}`**

    (`{{$server.Resource.ID}}`)
    **Status**:  **_{{$server.Status.String}}_** (last update `{{$server.State.LastUpdated.UTC.Format "2006-01-02 15:04:05"}}`)
  {{- with index $.FloatingIPsByServer $server.Resource.ID }}
    {{- if . }}
    **Targeted by**:
    {{- range . }}
     - {{if index $.ToBeReassigned .ID}}👉{{else}} {{end}} **`{{.Name}}`** (`{{.ID}}`) `{{.IP}}`
    {{- end }}
    {{- else }}
      *No floating IPs assigned to this server.*
    {{- end }}
  {{- end}}
{{- end }}

{{if .UnassignedFloatingIPs }}
**Unassigned floating IPs**:
  {{- range .UnassignedFloatingIPs }}
- **`{{.Name}}`** (`{{.ID}}``) `{{.IP}}`  {{if index $.ToBeReassigned .ID}}(👉 to be assigned){{end}}
  {{- end }}
{{- else }}
*No unassigned floating IPs.*
{{- end }}

{{- if .FloatingIPsTargetedOutsideGroup }}

**Floating IPs pointed at servers outside of group**:
  {{- range .FloatingIPsTargetedOutsideGroup }}
- ❓ **`{{.Name}}`** (`{{.ID}}``) `{{.IP}}`  {{if index $.ToBeReassigned .ID}}(👉 to be assigned){{end}}
  {{- end }}
{{- else }}
*No floating IPs pointed at servers outside of group.*
{{- end }}