{{ define "footer" }}
<footer>
    
    <p class="explainer">
        <a href="https://github.com/gzuidhof/flipper"><strong>Flipper</strong></a> is an open source tool that makes sure re-assignable IPs are always pointed at healthy targets.
    </p>
    


    <a class="ta-center" href="/" >
        <img class="logo" src="/static/logo-white.svg" alt="Flipper logo">
    </a>

    <p class="ta-center small">
        <a href="/v1/health">Health</a> | <a href="/v1/version">Version</a> | <a href="https://github.com/gzuidhof/flipper">Documentation</a>
    </p>
    <p class="ta-center mt-1">
        Made with ☕️ by <a href="https://guido.io">@gzuidhof</a> and contributors at <a href="https://www.friendlycaptcha.com">Friendly Captcha</a>.
    </p>
</footer>
{{ end }}